configs/secrets.json
node_modules
package-lock.json
logs/*
data
csv/*
reports/*
tmp/*
!.keep
.sugarcube_cache.json
tmp.*
.nrepl*
.cpcache
.rebel_readline_history
fix-collections*.csv
.python-version
exports
