[Unit]
Description=Move sources from a column based spreadsheet to the archives queries sheet.
OnFailure=status-email-archive@%n.service

[Service]
Type=oneshot
ExecStart=/bin/sh bin/move-columns-sources.sh
User=%i
WorkingDirectory=/home/%i/%i-archive

[Install]
RequiredBy=default.target
