[Unit]
Description=Twitter feed scrapes for %i-archive
OnFailure=status-email-archive@%n.service

[Service]
Type=oneshot
ExecStart=/home/%i/%i-archive/bin/twitter-feeds.sh
User=%i
WorkingDirectory=/home/%i/%i-archive
