[Unit]
Description=Daily Youtube scrapes for %i-archive
OnFailure=status-email-archive@%n.service

[Service]
Type=oneshot
ExecStart=/home/%i/%i-archive/bin/youtube-channels-daily.sh
User=%i
WorkingDirectory=/home/%i/%i-archive
