[Unit]
Description=Youtube Videos scrapes for %i-archive
OnFailure=status-email-archive@%n.service

[Service]
Type=oneshot
ExecStart=/bin/sh /home/%i/%i-archive/bin/youtube-videos.sh
User=%i
WorkingDirectory=/home/%i/%i-archive

[Install]
RequiredBy=default.target
